<div class="page-header">
  <h1>Directors</h1>
</div>

<% @picture_all.each do |pic| %>

<div>

<img src="<%= pic.source %>" class="img-responsive" width="200">

<div>
<%= pic.caption %>

</div>
</div>
<% end %>
