<h1>Picture Details</h1>

<div>

<img src="<%= @picture.source %>" class="img-responsive" width="200">
</div>
<div>
<%= @picture.caption %>
</div>

<h3><a href="http://localhost:3000/delete_picture/<%= @picture.id %>">Delete this picture</a></h3>

